.facts-section{
    width:100vw;
    position: relative;
    // background-color: red;
}
.facts-inner{
    width:1100px;
    max-width: 89vw;
    margin:auto;
    display: flex;
}
.facts-text{
    position: relative;
    z-index: 1;
    // top:150px;
    top:190px;

    p{
        margin-top: 1rem;
        text-align: justify;
    }
}
.facts-section-text{
    margin-top: 2rem;
}

.facts-whitelist-text{
    width: fit-content;
    position: absolute;
    bottom:-14rem;
    left:0;
    right:0;
    margin: auto;
    text-shadow: 0px 0px 5px black;
    color:#ddcb64 ;
    z-index: 1;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}
@media screen and (max-width:1200px) {
    .facts-whitelist-text{
        bottom: -17rem;
    }
}
@media screen and (max-width:1000px) {
    .facts-inner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .facts-text{
        position: relative;
        top:unset;
    }
    .facts-whitelist-text{
        bottom: -5rem;
        text-align: center;
    }

}
// @media screen and (max-width:600px) {
//     .facts-section-text{
//         margin-top:0rem;
//     }
// }