.backstage-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-top: 6rem;
    // background-color: red;
    overflow: hidden;
}
.backstage-section-inner{
    position: relative;
    width: 900px;
    max-width: 89vw;
    margin: auto;
    text-align: center;
    p{
        margin-top: 1.5rem;
        text-shadow: 1px 1px 5px black;
    }
}
.backstage-section-text{
    margin-top: 4.5rem;
}
.backstage-section-bg-wrapper{
   
    opacity: 0.4;
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    top: 0;
    // background-image: url(../../assets/images/drums-bg.webp);
    // background-size: contain;
    img{
        height: 100vh;
    }
    @media screen  and (max-width:1050px){
        transform: scale3d(1,1,1) !important;
    }
    @media screen and (min-width:1050px) {
        transform: scale3d(0.1,0.1,1);
       
        img{
            height:unset;
            min-width: unset;
            width: 100%;
        }
    }
}

@media screen  and (max-width:1200px){
    .backstage-section{
        margin-top: 15rem;
    }
}
@media screen  and (max-width:500px){
    .backstage-section{
        margin-top: 5rem;
    }
    .backstage-section-inner{
        position: relative;
        width: 900px;
        max-width: 90vw;
        margin: auto;
        text-align: justify;
        p{
            margin-top: 1.5rem;
            text-shadow: 1px 1px 5px black;
        }
    }
}