.white-guitar-wrapper{
    width: 500px;
    height: 500px;
}
.white-guitar-inner{
    height: 100%;
    width: 100%;
}
#white-guitar-canvas{
    position: relative;
    left:-100px;
    // border: 1px solid red;
}
@media screen and (max-width:1200px) {
    
    .white-guitar-wrapper{
        width: 400px;
        height: 400px;
    }
    #white-guitar-canvas{
        left:-150px;
    }
}
@media screen and (max-width:1000px) {
    #white-guitar-canvas{
        left:unset;
    }
    .white-guitar-wrapper{
        width: 650px;
        height: 650px;
    }
}

@media screen and (max-width:500px) {
    .white-guitar-wrapper{
        width: 500px;
        height: 500px;
    }
}
