.mint-roadmap{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 15rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    p{
        line-height: 35px;

    }
    
}
.mint-roadmap-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top:0;
}
.mint-roadmap-inner{
    position: relative;
    margin: auto;
    width: 1000px;
    flex-wrap: wrap;
  
    max-width: 80vw;
    z-index: 2;
}
.blockers{
    position:absolute;
    top:0;
    background-color: burlywood;
    height: 200px;
    width: 100%;
    z-index: 3;
}
.roadmap-title{
    position: relative;
    // margin-left: 3vw;
    
    z-index: 3;
}
.roadmap-desc{
    margin: 0rem auto 6rem auto;
    width: 620px;
    max-width: 90vw;
    // background-color: red;
    height: fit-content;
}
.mint-roadmap-section{
    // top:90px;
    // opacity: 0;
    transition: all 250ms ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 15px;
    padding: 27px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 2rem;
    span{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:470px){
    .mint-roadmap-inner{
        max-width: 70vw;
    }
    
    .mint-roadmap-section{
        width: 87vw;
    }
}
.mint-roadmap-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    left:-42px;
    position:absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    transition: all 50ms ease-in-out;
    color:black;
}

.project-progress{
    position: absolute;
    height: 92%;
    width: 6px;
    background-color: white;
    flex:1;
    left:-19px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    z-index: -5;
}
.project-progress-inner{
    position: fixed;
    background-color: white;
    top:0;
    bottom:0;
    height: 500px;
    margin: auto;
    height: 0px;
    width: 6px;
    z-index: -1;
    
}
.indented-section{
    display: flex;
    :nth-child(1){
        margin-right: 5px;
    }
}