.home{
    animation: emerge 1s ease-in-out  ;

}
.verified-address{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    a{
        margin-left: 5px;
        &:hover{
            
            color:white;
        
        }   
    }
}
@media screen  and (max-width:880px){
    .verified-address{
        flex-direction: column;
        align-items: center;
        a{
            margin-left: unset;
        }
    }
}