.header{
    height: 80px;
    width:100vw;
    position:sticky;
    top:0;
    // background-color: red;
    z-index: 19;
    transition: background 400ms ease-in-out,backdrop-filter 400ms ease-in-out;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
    max-width: 90vw;
    margin: auto;
    // background-color: blue;
}
.header-links{
    button{
        margin-left: 1rem;
        &:hover{
            color:#c3a159;
        }
    }
}
.header-logo{
    height: 80px;
}



.header-hamburger{
    margin: 0 0px 0 20px;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.header-hamburger-inner{
    display: flex;
    justify-content: center;
    position: relative;
    height: 40px;
    width: 40px;
}

.hamburger-top,.hamburger-bottom{
    height: 2px ;
    width: 60%;
    background-color: white;
    border-radius: 1px ;
}
.hamburger-top{
    position: absolute;
    top:14px;
}
.hamburger-bottom{
    position: absolute;
    bottom:14px;
}

.header-mobile-nav{
    display: none ;
    @media screen and (min-width:700px){
        display: none !important;
    }
    
    z-index: 15;
    top:0;
    left:0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.518);
    backdrop-filter:blur(25px) !important;
    overflow: scroll;
    opacity: 0;
    transition:height 350ms ease-in-out,opacity  350ms ease-in-out;
}
.header-mobile-nav-inner{
    margin:20px auto 0 auto;
    display: flex;
    flex-direction: column;
    // width: 600px;
    width: 86vw;
    // background-color: green;
}
.header-mobile-logo{
    margin-bottom: 1rem;
    // height: 100px;
}
.mobile-nav-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 39px;
    border-bottom: 1px solid #7A7570;
    img{
        height: 18px;
    }
}



@media screen and (max-width:700px){

    .header{
        backdrop-filter: unset;
    }
    .header-links{
        display: none;
    }
    .header-social{
        display: none;
    }
    .header-hamburger{
        display: flex;
    }
    .header-mobile-logo{
        display: block;
      
    }
}

@media screen and (max-width:700px){
    .header{
        height: 60px;
    }
    .header-logo{
        height: 60px;
    }
}